.vote-page {
  display: flex;
  height: 790px;
  .left {
    float: left;
    width: 50%;
    background-color: aqua;
  }
  .right {
    width: 50%;
    background-color: beige;
  }
}
.showRackingPage {

}
