<div class="vote-page">
  <figure class="logo">
    <img src="../../assets/img/png/catmash.png" alt="catmash logo">
    <figcaption>CAT MASH</figcaption>
  </figure>
  <div class="left">
    <figure class="current_image">
      <img src="../../assets/img/cats/cat.jpg" class="image" alt="current cat">
    </figure>
  </div>
  <div class="right">
    <figure class="current_image">
      <img src="../../assets/img/cats/cat.jpg" class="image" alt="current cat">
    </figure>
  </div>
  <div [routerLink]="['/ranking']" class="bottom">
    <div>
      <p>Voir les plus beaux chats</p>
      <p>{{voters}} votes</p>
    </div>
  </div>
</div>
