<div class="vote-page">
  <figure class="logo">
    <img src="../../assets/img/png/catmash.png" alt="catmash logo">
    <figcaption>CAT MASH</figcaption>
  </figure>
  <div class="left">
    <app-cat-ui [catData]="data.first" (onSelectedCat)="selectedCat($event)"></app-cat-ui>
  </div>
  <div class="right">
    <app-cat-ui [catData]="data.second" (onSelectedCat)="selectedCat($event)"></app-cat-ui>
  </div>
  <div [routerLink]="['/ranking']" class="bottom">
    <div class="content">
      <div>
        <p>Voir les plus beaux chats</p>
        <p>{{voters}} votes</p>
      </div>
    </div>
  </div>
</div>
