.vote-page {
  display: flex;
  height: 790px;
  .left {
    float: left;
    width: 50%;
    background-color: var(--gray);
  }
  .right {
    width: 50%;
    background-color: var(--white);
  }
  .logo {
    background: transparent;
    position: absolute;
    width: 100%;
    img {
      background: transparent;
      margin: 0 auto;
      display: block;
      width: 160px;
      border: none;
      height: 150px;
    }
    figcaption {
      background: transparent;
      text-align: center;
      font-size: 34px;
    }
  }
  .bottom {
    background: transparent;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    bottom: -5px;
    cursor: pointer;
    .content {
      margin: 0 auto;
      display: block;
      background-color: var(--white);
      border-top: 5px solid var(--gray);
      border-left: 5px solid var(--gray);
      border-right: 5px solid var(--gray);
      border-radius: 10px;
      width: 300px;
      height: 75px;
      text-align: center;
      div{
        padding-top: 10px;
        border-radius: 13px;
        background-color: var(--white);
        margin: 0;
      }
    }
  }
}
